In [6]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()

In [8]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [11]:
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
data = pd.DataFrame(iris.data)
data

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [19]:
data["target"] = iris.target

In [20]:
data

       0    1    2    3  target
0    5.1  3.5  1.4  0.2       0
1    4.9  3.0  1.4  0.2       0
2    4.7  3.2  1.3  0.2       0
3    4.6  3.1  1.5  0.2       0
4    5.0  3.6  1.4  0.2       0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3       2
146  6.3  2.5  5.0  1.9       2
147  6.5  3.0  5.2  2.0       2
148  6.2  3.4  5.4  2.3       2
149  5.9  3.0  5.1  1.8       2

[150 rows x 5 columns]

In [21]:
X = data.drop("target", axis = "columns")
y = data.target

In [22]:
X

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [23]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)

In [25]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier (n_estimators = 15)
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=15)

In [26]:
y_test

87     1
125    2
91     1
134    2
141    2
111    2
1      0
132    2
45     0
5      0
94     1
25     0
85     1
48     0
131    2
86     1
118    2
23     0
62     1
44     0
145    2
32     0
107    2
26     0
24     0
0      0
46     0
128    2
51     1
115    2
143    2
82     1
97     1
60     1
7      0
74     1
146    2
80     1
28     0
19     0
105    2
113    2
144    2
99     1
119    2
Name: target, dtype: int32

In [27]:
X_test

       0    1    2    3
87   6.3  2.3  4.4  1.3
125  7.2  3.2  6.0  1.8
91   6.1  3.0  4.6  1.4
134  6.1  2.6  5.6  1.4
141  6.9  3.1  5.1  2.3
111  6.4  2.7  5.3  1.9
1    4.9  3.0  1.4  0.2
132  6.4  2.8  5.6  2.2
45   4.8  3.0  1.4  0.3
5    5.4  3.9  1.7  0.4
94   5.6  2.7  4.2  1.3
25   5.0  3.0  1.6  0.2
85   6.0  3.4  4.5  1.6
48   5.3  3.7  1.5  0.2
131  7.9  3.8  6.4  2.0
86   6.7  3.1  4.7  1.5
118  7.7  2.6  6.9  2.3
23   5.1  3.3  1.7  0.5
62   6.0  2.2  4.0  1.0
44   5.1  3.8  1.9  0.4
145  6.7  3.0  5.2  2.3
32   5.2  4.1  1.5  0.1
107  7.3  2.9  6.3  1.8
26   5.0  3.4  1.6  0.4
24   4.8  3.4  1.9  0.2
0    5.1  3.5  1.4  0.2
46   5.1  3.8  1.6  0.2
128  6.4  2.8  5.6  2.1
51   6.4  3.2  4.5  1.5
115  6.4  3.2  5.3  2.3
143  6.8  3.2  5.9  2.3
82   5.8  2.7  3.9  1.2
97   6.2  2.9  4.3  1.3
60   5.0  2.0  3.5  1.0
7    5.0  3.4  1.5  0.2
74   6.4  2.9  4.3  1.3
146  6.3  2.5  5.0  1.9
80   5.5  2.4  3.8  1.1
28   5.2  3.4  1.4  0.2
19   5.1  3.8  1.5  0.3
105  7.6  3.0  6.6  2.1
113  5.7  2.5  5.0  2.0
144  6.7  3.3  5.7  2.5
99   5.7  2.8  4.1  1.3
119  6.0  2.2  5.0  1.5

In [28]:
model.score(X_test, y_test)

0.9555555555555556

In [29]:
y_predicted = model.predict(X_test)
y_predicted

array([1, 2, 1, 1, 2, 2, 0, 2, 0, 0, 1, 0, 1, 0, 2, 1, 2, 0, 1, 0, 2, 0,
       2, 0, 0, 0, 0, 2, 1, 2, 2, 1, 1, 1, 0, 1, 2, 1, 0, 0, 2, 2, 2, 1,
       1])

In [31]:
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

In [32]:
dir(diabetes)

['DESCR',
 'data',
 'data_filename',
 'data_module',
 'feature_names',
 'frame',
 'target',
 'target_filename']

In [33]:
df = pd.DataFrame(diabetes.data)
df

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [34]:
df["target"] = diabetes.target
df

,0,1,2,3,4,5,6,7,8,9,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In [36]:
independent = df.drop("target", axis = "columns")
independent

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [37]:
dependent = df.target
dependent

0      151.0
1       75.0
2      141.0
3      206.0
4      135.0
       ...
437    178.0
438    104.0
439    132.0
440    220.0
441     57.0
Name: target, Length: 442, dtype: float64

In [53]:
from sklearn.model_selection  import train_test_split
independent_train, independent_test, dependent_train, dependent_test = train_test_split(independent, dependent, test_size = 0.3)

In [54]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier (n_estimators = 15)
model.fit(independent_train, dependent_train)

RandomForestClassifier(n_estimators=15)

In [55]:
independent_test

,0,1,2,3,4,5,6,7,8,9
424,0.001751,0.050680,0.011039,-0.019442,-0.016704,-0.003819,-0.047082,0.034309,0.024053,0.023775
148,-0.060003,0.050680,0.015350,-0.019442,0.036958,0.048164,0.019187,-0.002592,-0.030751,-0.001078
316,0.016281,0.050680,0.014272,0.001215,0.001183,-0.021355,-0.032356,0.034309,0.074968,0.040343
61,-0.041840,0.050680,0.004572,-0.053871,-0.044223,-0.027305,-0.080217,0.071210,0.036646,0.019633
122,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628
...,...,...,...,...,...,...,...,...,...,...
68,0.038076,0.050680,-0.029918,-0.040099,-0.033216,-0.024174,-0.010266,-0.002592,-0.012908,0.003064
261,0.048974,-0.044642,-0.041774,0.104501,0.035582,-0.025739,0.177497,-0.076395,-0.012908,0.015491
195,0.027178,0.050680,0.025051,0.014987,0.025950,0.048477,-0.039719,0.034309,0.007837,0.023775
320,-0.023677,-0.044642,0.030440,-0.005671,0.082364,0.092004,-0.017629,0.071210,0.033047,0.003064
288,0.070769,0.050680,-0.016984,0.021872,0.043837,0.056305,0.037595,-0.002592,-0.070209,-0.017646

In [56]:
dependent_test

424    111.0
148     96.0
316    220.0
61     144.0
122    180.0
       ...
68     160.0
261    103.0
195    122.0
320    122.0
288     80.0
Name: target, Length: 133, dtype: float64

In [59]:
model.score(independent_train, dependent_train)

1.0

In [61]:
dependent_predicted = model.predict(independent_test)
dependent_predicted

array([164., 129., 164., 164., 332., 202.,  72.,  85., 138., 171., 144.,
       156.,  94.,  48., 196.,  63., 268., 263.,  25., 273., 242., 200.,
        60.,  97.,  47.,  42.,  50.,  52.,  95.,  68., 131.,  63., 166.,
       143., 120.,  52., 139., 202., 220., 248., 198.,  97.,  69.,  59.,
        48., 189.,  71.,  59., 136.,  73.,  66.,  79., 243., 138., 100.,
       118., 257.,  81., 233., 225., 170., 232., 258.,  49., 332., 270.,
        52., 168.,  81.,  59., 200.,  59.,  69., 178.,  87., 257., 121.,
        67.,  59., 152.,  52.,  67., 182.,  77.,  63., 128.,  83.,  87.,
       128., 121., 208., 127., 113., 172., 270.,  59., 109., 245.,  52.,
       170., 189., 164., 113., 152.,  70.,  48., 156., 101., 248., 172.,
       164., 104., 124.,  47., 233.,  64., 131.,  47., 292.,  55.,  59.,
        78.,  81.,  90.,  81.,  71.,  81., 174.,  53.,  87., 107., 121.,
       178.])